<div class="prose">
  <p>
    Let's get the ball rolling with a quick one to make sure you have an
    understanding of the Stimulus "architecture" and how you go about making use
    of it.
  </p>

  <p>
    Here we have some HTML markup, but it's lacking any kind of interaction.
    There's a Stimulus controller available to you already called HelloWorldController.
  </p>

  <p>
    Connect it up and make that button sing!
  </p>
</div>
