<% content_for :head do %>
  <%= javascript_include_tag "puller" %>
<% end %>

<div class="flex h-full">
  <textarea class="w-full h-full rounded-lg p-4 resize-none" readonly="readonly" placeholder="Waiting for messages..."></textarea>
</div>
