<div class="prose">
  <p>
    We're using another JavaScript library that doesn't know anything about
    Stimulus, but we want to capture what it's doing and log it's output to our
    textarea here on the screen.
  </p>

  <p>
    The JavaScript library is emitting events on a regular basis, it's called
    Puller. Right now, Puller is logging those events to the console, but we
    want our customers to be able to see those events on the screen.
  </p>

  <p>
    Take a look at the controller code and the snippet of HTML below, and just
    by decorating the HTML you should be able to accomplish this task.
  </p>

  <hr />

  <dl>
    <dt>Exercise file</dt>
    <dd><%= exercise.file_path.relative_path_from(Rails.root) %></dd>

    <dt>Stimulus Controller</dt>
    <dd>
      <%= Rails.root.join("app", "javascript", "controllers", "logger_controller.js").relative_path_from(Rails.root) %>
    </dd>
  </dl>
</div>
