<article class="p-14 min-h-screen flex gap-14">
  <div class="w-1/2 flex-grow">
    <%= render @exercise %>
  </div>

  <% if Current.show_related_files %>
    <aside class="w-[65ch] flex-shrink-0">
      <%= turbo_frame_tag :related_files, src: exercise_file_path(@exercise, (@file || @exercise.initial_file)), target: "_top" %>
    </aside>
  <% end %>
</article>
