<article class="p-14 min-h-screen flex gap-14">
  <div class="w-1/2 flex-grow">
    <%= render @exercise %>
  </div>

  <aside class="w-[80ch] flex-shrink-0">
    <nav class="flex gap-2">
      <% @exercise.related_files_as_files.each do |file| %>
        <%= link_to file.name, exercise_file_path(@exercise, file),
                               class: token_list("px-4 py-2 rounded-t transition hover:opacity-100", {"opacity-50 bg-slate-300": !current_file?(file), "bg-[#f6f8fa]": current_file?(file)}),
                               data: { turbo_frame: :tab_content, turbo_action: "advance" } %>
      <% end %>
    </nav>

    <%= turbo_frame_tag :tab_content, src: exercise_file_path(@exercise, (@file || @exercise.initial_file)),
                                      target: "_top" %>
  </aside>
</article>
