<article class="prose mx-auto mt-32">
  <p>Ahoy! Just a quick introduction to the workshop app and format.</p>

  <p>
    The workshop is split into multiple different exercises, each of which try to
    present a practical problem that can be solved using Stimulus.
  </p>

  <p>
    Make edits directly to the application code using your editor of choice and
    refresh to see the changes. This is just a regular Rails app, so modify it as
    you see fit.
  </p>

  <p>
    This workshop is not trying to be a replacement for reading the
    <%= link_to "Handbook", "https://stimulus.hotwired.dev/handbook/introduction" %>
    and <%= link_to "Reference", "https://stimulus.hotwired.dev/reference/controllers" %>.
    The Stimulus website is a great place to refer back to as you learn more or
    need a reminder.
  </p>

  <p>
    Shout out questions and make suggestions! There are a lot of different
    approaches you can use for each of the exercises.
  </p>

  <p>
    Ready? <%= link_to "Let's get started!", exercise_path("hello-world") %>
  </p>
</article>
